@font-face {
  font-family: "Ownglyph";
  src: url("../fonts/온글잎 박다현체.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("../fonts/NanumGothic.ttf") format("truetype");
}

.body {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: rgba(255, 251, 245, 80%);
}

.text {
  width: 100%;
  text-align: center;
  font-family: "Ownglyph";
  font-size: 24px;
  color: #fff2d9;
  padding: 74px 0 30px;
}

.boardContainer {
  width: 100%;
  padding: 0 10px 300px;
  /* display: flex; */
  overflow: scroll;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 100px;
}

.boothTypeSelectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
}

.boothTypeSelectContainer > button {
  outline: none;
  border: 0;
  font-size: 13px;
  font-family: "Nanum Gothic";
  margin-bottom: 20px;
  display: grid;
  background-color: transparent;
  padding-bottom: 10px;
}

.selectedBoothType {
  color: #ffffff;
  border-bottom: 2px solid #b23228 !important;
}

.noneSelectedBoothType {
  background-color: white;
  color: black;
}
